<div class="container">
  <div class="row">
    <div class="col text-center">
      <h1 class="display-3 font-weight-bold my-4">About</h1>
      <p class="h2 mb-4">
        ながのCAKEは全国発送可能なケーキ屋さんです。</br>
        お子様からお年寄りの方までお召し上がりいただけるよう、</br>
        さまざまなバリエーションをご用意しております。</br>
        全国へ発送可能ですので「いつ」でも「どこ」でもご注文いただけます。</br>
        ぜひご注文ください。
      </p>
      <%= image_tag "delivery.png", style: "width: 50%; height: 330px" %>
    </div>
  </div>
</div>